
.containerFil{
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 90px;
}

.titulo{
    margin: 10px;
    color: #344d67;
}


